.info__title {
  color: #b9c2ca;
}

.info__text {
  color: #9ca3af;
}

.info__item {
  color: #9ca3af;
}

.info__emoji svg {
  width: 30px;
  height: 30px;
  stroke: #9ca3af;
}

.info__emoji path {
  fill: #9ca3af;
}
