.modal-w {
  transition: opacity 0.25s ease;
}

body.modal-active {
  // overflow-x: hidden;
  // overflow-y: visible !important;
}

.modal-img {
  height: 85vh;

  @media (max-width: 1536px) {
    height: auto;
  }

  @media (orientation: landscape) {
    align-items: flex-start;
  }
}

.modal-container {
  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    align-items: flex-start;
    width: 80%;
  }
}
