.objectives-block {
  margin-top: -240px;

  @media (max-width: 1024px) {
    margin-top: 0;
  }

  .btn-ghost {
    color: #59b998;

    &:hover {
      background-color: transparent;
    }
  }

  // textarea {
  //   background: transparent;
  // }

  // .textarea-bordered {
  //   --tw-border-opacity: 1;
  // }
}

.objectives-block--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.objective-form {
  //   width: 49%;
  width: 100%;

  @media (max-width: 767px) {
    width: 100%;
  }
}
