body>header {
	padding: 28px 145px;
	width: 100%;
	>div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			background: $neutral;
			bottom: -28px;
		}

	}
	.branding {
		margin-bottom: 0;
	}
	.links {
		width: 260px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			font-size: 20px;
			color: $paragraph;
			display: flex;
			align-items: center;
			picture {
				width: 1em;
				margin-right: 0.4em;
			}
		}
	}
}

section {
	&.one-frame {
		min-height: calc(100vh - 108px);
	}
	&:last-child {
		padding-bottom: 0;
	}
}
body>footer {
	padding: 28px 145px;
	width: 100%;
	>div {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			background: $neutral;
			top: -8px;
		}
	}
	p {
		margin-bottom: 0;
		opacity: 0.6;
		font-size: 90%;
	}
}