@import "nullstyle.scss";
@import "defs.scss";

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&.one-frame {
		min-height: 100vh;
	}

	&.center .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&.dark {
		background: $orange-l;
	}
}

.branding {
	display: flex;
	align-items: center;
	margin-bottom: 68px;

	img {
		background: $orange;
		border-radius: $border-radius-2;
		padding: 8px;
		margin-right: 13px;
	}

	h3 {
		font-size: 22px;
		letter-spacing: -0.55px;

		span {
			font-weight: 400;
		}
	}
}

.links img {
	width: 1.1em;
	margin-right: 0.2em;
}

.block-1 {
	h1 {
		font-size: 72px;
		letter-spacing: -3px;

		span {
			color: #158961;
			text-transform: capitalize;
		}
	}

	p {
		max-width: 640px;
	}
}

.col-main {
	padding-right: 55%;
	margin-bottom: 77px;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 400px;
	min-height: 450px;

	&.var-2 {
		margin-top: 148px;
		padding-top: 50px;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			background: $neutral;
			top: -48px;
		}
	}
}

.col-3 {
	display: flex;
	position: relative;
	margin-top: 48px;

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		background: $neutral;
		top: -48px;
	}

	>div {
		width: 30%;
		flex-grow: 1;
		margin-right: 24px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.col-50 {
	display: flex;
	justify-content: space-between;

	.pics {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	>div {
		width: 47%;

		&:first-child>div {
			margin-top: 60px;
		}
	}

	&.forms {
		margin-top: 148px;
		padding-top: 50px;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			background: $neutral;
			top: -48px;
		}
	}
}

.shadow-1 {
	position: relative;

	&:before {
		content: "";
		width: calc(100% - 55px);
		height: calc(73% - 55px);
		position: absolute;
		display: block;
		background: $orange-l;
		border-radius: $border-radius-2;
		right: 55px;
		top: 55px;
		z-index: -1;
	}
}

.forms-container {
	button {
		margin-top: 12px;

		&.fix {
			margin-top: 6px;
		}
	}

	form {
		margin-bottom: 48px;
	}

	.btn--telegram.btn-success {
		display: block;
		margin-top: 18px;
		font-size: 26px;
		font-weight: 600;
	}

	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		background: #00000000;
	}

	::-webkit-scrollbar-thumb {
		background-color: $border;
		border-radius: 3px;
	}
}

.cap {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hidden {
	display: none !important;
}

.border-red-500 {
	border-color: red !important;
	transition: border 0.1s ease-in-out;
}

.margin-p {
	margin-bottom: 10vh;
}

.wrapper ul {
	li {
		list-style: disc;
		margin-bottom: 0.6em;
		margin-left: 1em;

		span {
			font-weight: 600;
		}

	}

	&.list-number li {
		list-style: decimal;
	}
}


.tests-app {
	>header>div:after {
		display: none;
	}
	section {
		padding-top: 32px;
	}
	.pictogram {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		margin-top: 16px;
		&:after {
			display: block;
		}

		img {
			width: 26px;
			margin-right: 4px;
			margin-bottom: 4px;

		}
	}

	.col-50.forms:before {
		display: none;
	}

	.col-50.forms {
		margin-top: 18px;
		>div {
			width: 47%;
		}
		.result {
			margin-top: 0;
		}
	}
	.result {
		width: 100%;
		#result {
			font-family: monospace!important;
		}
	}
}

/* Edit Test Case */
ul li input[type=text] {
  display:none;
}
ul li textarea[name=text-area] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode textarea[name=text-area] {
  display:block;
}
ul li.editMode label {
  display:none;
}

// @import "modal.scss";
@import "breakpoints.scss";
@import "fixed-header.scss";
@import "form.scss";
// @import "slider.scss";
