@import "scss/blocks/modal.scss";

:root {
  --p: 259 94% 51%;
  --pf: 259 94% 41%;
  --pc: 0 0% 100%;
  --s: 314 100% 47%;
  --sf: 314 100% 37%;
  --sc: 0 0% 100%;
  --a: 88 69% 63%;
  --af: 101 56% 42%;
  --ac: 0 0% 100%;
  --n: 215 28% 17%;
  --nf: 221 39% 11%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12% 84%;
  --bc: 215 28% 17%;
  --in: 207 90% 54%;
  --su: 101 56% 42%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(61, 68, 81);
  margin: 0;
  padding: 0;
}

.accordion-item .accordion-title {
  padding-right: 35px;
}

.features {
  & img {
    min-height: 180px;
    max-height: calc(100vw / 1.78);
    // cursor: zoom-in;
  }
}

.mockup-window {
  padding-top: 0.5rem;
  max-height: calc(100vw / 1.78);

  &::before {
    margin-bottom: 0.5rem;
  }
}

.tools {
  width: 100%;
  max-width: 510px;
}

.tools__item {
  width: 11.11%;
}

.textarea {
  &::placeholder {
    font-size: 1.25rem;

    @media (max-width: 1024px) {
      font-size: 1rem;
    }
  }

  @media (max-width: 645px) {
    padding-top: 5rem;
  }

  @media (max-width: 345px) {
    // padding-top: 8rem;
  }
}

.textarea-title {
  font-size: 1.25rem;
  opacity: 1;
}

.btn {
  font-size: 1.25rem;
  text-transform: inherit;
}
